#menu{
    float: right;
    color:black ;
}
#everyday, #standout{
    color: #1e56cb;
    font-weight: bold;
    margin-top: 70px;
    margin-left: 30px;
}

#right{
    float: right;
}
#phrase1,#phrase2, .quote{
    margin-top: 100px;
    font-size: larger;
    line-height: 30px;
}
#word\ slide{
    margin-top: 50px;
    font-weight: bold;
    font-size: larger;
}

#story{
    color: white;
    font-weight: bold;
}
.blockquote{
    text-align: right;
    margin-top: -50px;
}
#dog{
    margin-top: -600px;
}
 #blue{
     background-color: #1e56cb;
     padding-top: 100px;
     padding-bottom: 50px;
     padding-left: 30px;
     margin-top: 150px;
     margin-bottom: 100px;
 }
#pattern{
    margin-top: 50px;
}

#dognote{
    margin-top: 200px;
}

.caption{
    margin-top: -150px;
    margin-left: 50px;
}
.scroll{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    margin-top: 150px;
    font-weight: bold;
    font-size: larger;
    font-style: italic;
}

#arrow{
    margin-left: 20px;
}
.mincap{
    margin-left: -150px;
    margin-top: 30px;

}

#shirt{
    margin-top: 200px;
    margin-left: 30px;
}

#beer{
    margin-top: 50px;
}

#anna{
    margin-top: 50px;

}
header{
    margin-top: 50px;

}

body{
    margin-left: 25px;
}

.author{
    color: white;
}

footer.img{
    margin: 20px;
}


